


body {
   padding: 2px ; 
   margin: auto;
   overflow-x: hidden;
   
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   font-family: 'Roboto', sans-serif;
 }

@media screen and (min-width:760px) {

  body {
    padding: 20px;
  }
  
}